USE [master]
GO
/****** Object:  Database [RetailShopDB]    Script Date: 11/05/2020 2:50:33 PM ******/
CREATE DATABASE [RetailShopDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RetailShopDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\RetailShopDB.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'RetailShopDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\RetailShopDB.ldf' , SIZE = 5184KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RetailShopDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RetailShopDB]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 11/05/2020 2:50:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Company](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Address] [varchar](80) NOT NULL,
	[Telephone] [nvarchar](35) NOT NULL,
	[Logo] [image] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 11/05/2020 2:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Address] [varchar](max) NULL,
	[Phone] [nvarchar](15) NULL,
	[SalesId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[ExpenseTrans]    Script Date: 11/05/2020 2:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ExpenseTrans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExpTypeId] [int] NOT NULL,
	[PostingDate] [date] NOT NULL,
	[Amount] [money] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Description] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[ExpenseType]    Script Date: 11/05/2020 2:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpenseType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[TypeNo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 11/05/2020 2:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ModelNo] [nvarchar](50) NOT NULL,
	[ProductName] [varchar](50) NOT NULL,
	[Cost] [money] NOT NULL,
	[Sale] [money] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ProdTypeId] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[ModifiedOn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[ProductType]    Script Date: 11/05/2020 2:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeNo] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[ReturnedItem]    Script Date: 11/05/2020 2:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnedItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SalesReturnId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SalesOrder]    Script Date: 11/05/2020 2:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesOrder](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Salesno] [nchar](10) NOT NULL,
	[PaymentMode] [int] NOT NULL,
	[Total] [money] NOT NULL,
	[Discount] [money] NOT NULL,
	[Amt_Tendered] [money] NOT NULL,
	[Createdby] [int] NOT NULL,
	[Createdon] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SalesReturn]    Script Date: 11/05/2020 2:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesReturn](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SalesId] [int] NOT NULL,
	[TotalValue] [money] NOT NULL,
	[Percentage] [float] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[RequestType] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SoldItem]    Script Date: 11/05/2020 2:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoldItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SalesId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblRole]    Script Date: 11/05/2020 2:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](20) NOT NULL,
	[Role1] [int] NOT NULL,
	[Role2] [int] NOT NULL,
	[Role3] [int] NOT NULL,
	[Role4] [int] NOT NULL,
	[Role5] [int] NOT NULL,
	[Role6] [int] NOT NULL,
	[Role7] [int] NOT NULL,
	[Role8] [int] NOT NULL,
	[Role9] [int] NOT NULL,
	[Role10] [int] NOT NULL,
	[Role11] [int] NOT NULL,
	[Role12] [int] NOT NULL,
	[Role13] [int] NOT NULL,
	[Role14] [int] NOT NULL,
	[Role15] [int] NOT NULL,
	[Role16] [int] NOT NULL,
	[Role17] [int] NOT NULL,
	[Role18] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 11/05/2020 2:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Display] [varchar](30) NOT NULL,
	[Username] [varchar](20) NOT NULL,
	[Password] [varchar](max) NULL,
	[Status] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
SET IDENTITY_INSERT [dbo].[Company] ON 

SET IDENTITY_INSERT [dbo].[Company] OFF
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([Id], [Name], [Address], [Phone], [SalesId]) VALUES (1, N'OLUW TOBI', N'8 MILIES CALABAR', N'08032562281', 1)
INSERT [dbo].[Customer] ([Id], [Name], [Address], [Phone], [SalesId]) VALUES (2, N'Mrs Okon Etim', N'15 Atimbo By Micado Hotel cal', N'08033923018', 2)
INSERT [dbo].[Customer] ([Id], [Name], [Address], [Phone], [SalesId]) VALUES (3, N'MR VICTOR ANSA', N'116 AKIM RD CALABAR', N'08023573492', 3)
SET IDENTITY_INSERT [dbo].[Customer] OFF
SET IDENTITY_INSERT [dbo].[ExpenseType] ON 

INSERT [dbo].[ExpenseType] ([Id], [Name], [TypeNo]) VALUES (1, N'Utility Bills', 201)
INSERT [dbo].[ExpenseType] ([Id], [Name], [TypeNo]) VALUES (2, N'Tax fee & Levies', 202)
INSERT [dbo].[ExpenseType] ([Id], [Name], [TypeNo]) VALUES (3, N'Delivery fee', 203)
SET IDENTITY_INSERT [dbo].[ExpenseType] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [ModelNo], [ProductName], [Cost], [Sale], [Quantity], [ProdTypeId], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (1, N'HR-67S', N'Mini-Bar Refridgerator', 30000.0000, 37000.0000, 0, 1, 1, CAST(N'2018-12-12 09:54:18.983' AS DateTime), 1, CAST(N'2018-12-12 09:54:18.987' AS DateTime))
INSERT [dbo].[Product] ([Id], [ModelNo], [ProductName], [Cost], [Sale], [Quantity], [ProdTypeId], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (2, N'HR-107S', N'Mini-Bar Refridgerator', 35000.0000, 42000.0000, 0, 1, 1, CAST(N'2018-12-12 09:58:34.847' AS DateTime), 1, CAST(N'2018-12-12 09:58:34.847' AS DateTime))
INSERT [dbo].[Product] ([Id], [ModelNo], [ProductName], [Cost], [Sale], [Quantity], [ProdTypeId], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (3, N'HR-142S', N'Mini-Bar Refridgerator', 52000.0000, 60000.0000, 0, 1, 1, CAST(N'2018-12-20 09:57:28.877' AS DateTime), 1, CAST(N'2018-12-20 09:57:28.877' AS DateTime))
SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[ProductType] ON 

INSERT [dbo].[ProductType] ([Id], [TypeNo], [Name]) VALUES (1, 101, N'Refrigerator')
INSERT [dbo].[ProductType] ([Id], [TypeNo], [Name]) VALUES (2, 102, N'Freezer')
INSERT [dbo].[ProductType] ([Id], [TypeNo], [Name]) VALUES (3, 103, N'Air-Conditioner')
SET IDENTITY_INSERT [dbo].[ProductType] OFF
SET IDENTITY_INSERT [dbo].[SalesOrder] ON 

INSERT [dbo].[SalesOrder] ([Id], [Salesno], [PaymentMode], [Total], [Discount], [Amt_Tendered], [Createdby], [Createdon]) VALUES (1, N'SI18120001', 1, 84000.0000, 5000.0000, 84000.0000, 1, CAST(N'2018-12-20 16:19:00.117' AS DateTime))
INSERT [dbo].[SalesOrder] ([Id], [Salesno], [PaymentMode], [Total], [Discount], [Amt_Tendered], [Createdby], [Createdon]) VALUES (2, N'SI18120002', 1, 113000.0000, 5000.0000, 113000.0000, 1, CAST(N'2018-12-20 16:22:18.887' AS DateTime))
INSERT [dbo].[SalesOrder] ([Id], [Salesno], [PaymentMode], [Total], [Discount], [Amt_Tendered], [Createdby], [Createdon]) VALUES (3, N'SI18120003', 2, 17000.0000, 1000.0000, 17000.0000, 1, CAST(N'2018-12-21 16:46:35.613' AS DateTime))
SET IDENTITY_INSERT [dbo].[SalesOrder] OFF
SET IDENTITY_INSERT [dbo].[SoldItem] ON 

INSERT [dbo].[SoldItem] ([Id], [SalesId], [ProductId], [Quantity], [Status]) VALUES (1, 1, 14, 1, 1)
INSERT [dbo].[SoldItem] ([Id], [SalesId], [ProductId], [Quantity], [Status]) VALUES (2, 2, 15, 1, 1)
INSERT [dbo].[SoldItem] ([Id], [SalesId], [ProductId], [Quantity], [Status]) VALUES (3, 3, 36, 1, 1)
SET IDENTITY_INSERT [dbo].[SoldItem] OFF
SET IDENTITY_INSERT [dbo].[tblRole] ON 

INSERT [dbo].[tblRole] ([Id], [RoleName], [Role1], [Role2], [Role3], [Role4], [Role5], [Role6], [Role7], [Role8], [Role9], [Role10], [Role11], [Role12], [Role13], [Role14], [Role15], [Role16], [Role17], [Role18], [CreatedBy], [CreatedOn]) VALUES (1, N'Admin', 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, CAST(N'2018-12-17 23:36:28.733' AS DateTime))
INSERT [dbo].[tblRole] ([Id], [RoleName], [Role1], [Role2], [Role3], [Role4], [Role5], [Role6], [Role7], [Role8], [Role9], [Role10], [Role11], [Role12], [Role13], [Role14], [Role15], [Role16], [Role17], [Role18], [CreatedBy], [CreatedOn]) VALUES (2, N'Manager', 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, CAST(N'2018-12-17 23:36:45.567' AS DateTime))
INSERT [dbo].[tblRole] ([Id], [RoleName], [Role1], [Role2], [Role3], [Role4], [Role5], [Role6], [Role7], [Role8], [Role9], [Role10], [Role11], [Role12], [Role13], [Role14], [Role15], [Role16], [Role17], [Role18], [CreatedBy], [CreatedOn]) VALUES (3, N'Sales', 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, CAST(N'2018-12-18 10:48:09.383' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblRole] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Display], [Username], [Password], [Status], [RoleId], [CreatedOn]) VALUES (1, N'Administrator', N'admin', N'19A2854144B63A8F7617A6F225019B12', 1, 1, CAST(N'2018-12-18 11:05:47.147' AS DateTime))
INSERT [dbo].[User] ([Id], [Display], [Username], [Password], [Status], [RoleId], [CreatedOn]) VALUES (2, N'Osim Favour', N'favour', N'29C1DAEED1801AD6E05EE7964C809BA9', 1, 2, CAST(N'2018-12-20 09:33:53.427' AS DateTime))
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[ExpenseTrans]  WITH CHECK ADD  CONSTRAINT [FK_ExpenseTrans_ToTable] FOREIGN KEY([ExpTypeId])
REFERENCES [dbo].[ExpenseType] ([Id])
GO
ALTER TABLE [dbo].[ExpenseTrans] CHECK CONSTRAINT [FK_ExpenseTrans_ToTable]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ToTable] FOREIGN KEY([ProdTypeId])
REFERENCES [dbo].[ProductType] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ToTable]
GO
ALTER TABLE [dbo].[SalesReturn]  WITH CHECK ADD  CONSTRAINT [FK_Table_ToTable] FOREIGN KEY([SalesId])
REFERENCES [dbo].[SalesOrder] ([Id])
GO
ALTER TABLE [dbo].[SalesReturn] CHECK CONSTRAINT [FK_Table_ToTable]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_ToTable] FOREIGN KEY([RoleId])
REFERENCES [dbo].[tblRole] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_ToTable]
GO
USE [master]
GO
